@import '../../Config';
@import '../../Utils';
@import '../../Icons';

:host {
  #header {
    position: relative;
    padding: 5px 42px 5px 5px;
    white-space: nowrap;
    background: #2d2d30;
    color: #fdfdfd;
    font-size: 15px;
    border-bottom: 1px solid #555558;
    cursor: pointer;

    > span {
      padding-bottom: 2px;
      white-space: nowrap;
      text-overflow: ellipsis;
      display: inline-block;
      width: 100%;
      overflow: hidden;
      vertical-align: middle;
    }

    &:before {
      display: inline-block;
      padding-right: 5px;
      -webkit-transform: rotate(0deg);
      -webkit-transform-origin: center;
      -webkit-transition: -webkit-transform $duration-transition-btn ease;
      @include triangle( 'right', $color-accent, 5px );
    }

    &:hover {
      #btnRemove {
        opacity: 1;
      }
    }

    #btnRemove {
      position: absolute;
      right: 10px;
      top: 50%;
      width: 15px;
      height: 15px;
      color: $color-accent;
      opacity: 0;
      transform: translateY(-50%);
      transition: opacity $duration-transition-btn ease, color $duration-transition-btn ease;

      @include icon-half( $icon-half-remove-circle, 15px );

      &:hover {
        color: #cf6753;
      }
    }
  }

  #container {
    display: none;
    margin: 0 0 0 5px;
    padding-top: 5px;

    #buttons {
      &:not(:empty) {
        margin-top: 5px;
        padding-right: 8px;
      }

      button {
        display: block;
        width: 100%;
        margin-bottom: 5px;
      }
    }

    #fieldInspectors {
      overflow: auto;
    }
  }

  &.opened {
    #header {
      &:before {
        -webkit-transform: rotate(90deg);
      }
    }

    #container {
      display: block;
    }
  }
}