@import '../../Config';

:host {
  #header {
    color: #dcdcdc;
    margin: 5px 0;
  }

  #container {
    padding-right: 5px;
  }
}

::content {
  input {
    display: block;
    width: 100%;
    margin-bottom: 5px;

    &[type=checkbox] {
      width: auto;
    }
  }

  select {
    display: block;
    width: 100%;
    padding: 2px;
    margin-bottom: 5px;
    background: #333337;
    border: 1px solid #3f3f46;
    color: #dcdcdc;
    outline: none;
    cursor: pointer;

    &:hover, &:focus {
      border: 1px solid $color-accent;
    }

    option {
      background: #333337;
      color: #dcdcdc;
    }
  }

  .array-items-wrapper {
    border: 1px solid red;

    .array-items {

    }
  }

  .vector-fields {
    display: flex;
    flex-direction: row;
    align-content: stretch;

    input {
      display: block;
      flex: 1 1 100%;
      align-self: auto;
      width: 100%;

      &:not(:first-child) {
        margin-left: 2px;
      }

      &:not(:last-child) {
        margin-right: 2px;
      }
    }
  }

  .invalid-type {
    font-style: italic;
    color: #cf6753;
  }

  .color-preview {
    display: block;
    // TODO:
    width: 100%;
    height: 20px;
    margin-bottom: 5px;
    background-image: url(../../Images/checkerboard.png);
    background-repeat: repeat;
    border: 1px solid #3f3f46;
    cursor: pointer;

    &:hover, &:focus {
      border: 1px solid $color-accent;
    }

    > div {
      width: 100%;
      height: 100%;
    }
  }
}