@import '../Config';
@import '../Utils';

:host {
  position: absolute;
  background: #262626;
  padding: 10px;
  white-space: nowrap;
  border: 1px solid #3f3f46;
  box-shadow: 0 2px 4px rgba(black, 0.75);
  // TODO:
  z-index: 400;

  #saturationView {
    position: relative;
    overflow: hidden;
    display: inline-block;
    width: 256px;
    height: 256px;
    background: linear-gradient(to right, white 0%, black 100%);
    border: 1px solid #595960;
    cursor: crosshair;

    #saturationCursor {
      position: absolute;
      width: 13px;
      height: 13px;
      margin: -2px 0 0 -2px;
      border-radius: 50%;
      border: 2px solid white;
      box-shadow: 0 0 1px rgba(black, 0.75);
      transform: translate(-50%, -50%);
      pointer-events: none;
      z-index: 3;
    }

    // black to transparent gradient
    &:before {
      position: absolute;
      display: block;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      content: '';
      background: linear-gradient(to bottom, rgba(black, 0) 0%, rgba(black, 1) 100%);
      z-index: 1;
    }
  }

  .v-view {
    position: relative;
    display: inline-block;
    width: 19px;
    height: 256px;
    vertical-align: top;
    border: 1px solid #595960;
  }

  .v-cursor {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    right: 0;

    // right triangle
    &:before {
      @include triangle( 'right', white, 5px );

      position: absolute;
      top: 0;
      right: 100%;
      transform: translate(-2px, -50%);
    }

    // left triangle
    &:after {
      @include triangle( 'left', white, 5px );

      position: absolute;
      top: 0;
      left: 100%;
      transform: translate(2px, -50%);
    }
  }

  #hueView {
    margin-left: 10px;
    background: url(../Images/hue-vertical.png) repeat-x;
  }

  #alphaView {
    margin-left: 20px;
    margin-right: 10px;
    background: url(../Images/checkerboard.png) repeat;

    #alphaCanvas {
      display: block;
      width: 100%;
      height: 100%;
      background: linear-gradient(to bottom, rgba(black, 1) 0%, rgba(black, 0) 100%);
    }
  }

  #channelView {
    display: flex;
    flex-direction: row;
    align-content: stretch;
    margin-top: 5px;
    color: #e7e7e7;

    .column {
      flex: 0 1 auto;
      align-self: auto;

      &.actions {
        flex: 1 1 100%;

        button {
          display: block;
          width: 100%;
          margin-top: 5px;
        }

        .rendered-colors {
          #colorDefault {
            cursor: pointer;
          }

          > div {
            display: inline-block;
            width: 50%;
            margin-bottom: 5px;
            font-size: 9px;
            text-transform: uppercase;
            text-align: center;
            color: #bdbdbd;

            > span {
              display: block;
              width: 100%;
              height: 30px;
              margin-bottom: 5px;
              background: black;
              border: 1px solid #595960;
            }
          }
        }
      }

      .channel {
        .label {
          display: inline-block;
          width: 18px;
        }

        .unit {
          display: inline-block;
          margin-right: 5px;
          color: #bdbdbd;
        }

        input {
          display: inline-block;
          width: 52px;
        }

        #inputHex {
          width: 76px;
        }
      }
    }
  }
}