:host{padding:2px;background:#333337;border:1px solid #3f3f46;color:#dcdcdc;outline:none}:host::-webkit-inner-spin-button,:host::-webkit-outer-spin-button{-webkit-appearance:none;margin:0}:host:hover,:host:focus{border:1px solid #d2ad35}
