@import '../Config';

$window-header-height: 28px;

:host {
  width: 100%;
  height: 100%;

  &:focus {
    outline: none;

    header {
      background: lighten(#2d2d30, 6%);
      color: lighten(#b3b3b3, 2%);
    }
  }

  header {
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: $window-header-height;
    padding: 5px;
    white-space: nowrap;
    background: #2d2d30;
    color: #b3b3b3;
    border-bottom: 1px solid #3f3f46;
    transition: all $duration-transition-btn ease;
    cursor: default;
  }

  #container {
    overflow: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: $window-header-height;
    bottom: 0;
  }
}