@import '../Config';
@import '../Utils';

// TODO: reorganize this

:host {
  margin-left: 5px;
  // 2px to account for border
  line-height: $header-height - 2px;

  &:focus {
    outline: none;

    ::content {
      &[has-sub-menu]:not([disabled]).hover {
        > .sub-menu {
          display: block;
        }
      }
    }
  }

  ::content {
    > x-menu-item {
      position: relative;
      display: inline-block;
      margin: 0 2px 0 0;
      padding: 0 5px;
      color: $header-menu-item-color;
      text-transform: uppercase !important;
      vertical-align: middle;
      cursor: pointer;
      transition: background-color $duration-transition-btn ease;

      > .sub-menu {
        left: 0;
        top: 100%;
      }

      &:not([disabled]).hover {
        background-color: #1b1b1c;
      }
    }

    .sub-menu {
      position: absolute;
      left: 100%;
      top: 0;
      display: none;
      white-space: nowrap;
      background-color: #1b1b1c;
      border: 1px solid #333337;
      box-shadow: 0 2px 3px 0 rgba(black, 0.75);

      x-menu-separator {
        display: block;
        width: 100%;
        height: 1px;
        background: #333337;
      }

      > x-menu-item {
        position: relative;
        display: block;
        min-width: $header-menu-sub-menu-min-width;
        line-height: normal;
        padding: 3px 10px;
        transition: background-color $duration-transition-btn ease;

        &[has-sub-menu] {
          padding-right: 25px;

          &:after {
            position: absolute;
            right: 5px;
            top: 50%;
            transform: translateY(-50%);
            @include triangle(right, #999999, 4px);
          }
        }

        &:not([disabled]).hover {
          background-color: #333334;

          &[has-sub-menu] {
            &:after {
              @include triangle(right, $color-accent, 4px);
            }
          }
        }
      }
    }

    x-menu-item {
      font-size: $header-menu-item-font-size;
      text-transform: none;

      &[disabled] {
        color: darken($header-menu-item-color, 25%) !important;
        cursor: default;
      }
    }
  }
}