@import '../Config';
@import '../Utils';
@import '../Icons';

$icon-size: 22px;

:host {
  position: relative;
  display: block;
  min-width: 200px;
  max-width: 485px;
  padding: 7px;
  margin-bottom: 12px;
  background: #48484d;
  border: 1px solid #6d6d75;
  box-shadow: 0 4px 3px rgba(black, 0.40);
  pointer-events: all !important;

  &:hover {
    .btn-close {
      opacity: 1;
    }
  }

  // none
  &[type="0"] {
    .icon {
      display: none;
    }
  }

  // warning
  &[type="1"] {
    .icon {
      color: #f8ff81;
      @include icon-half( $icon-half-exclamation-sign, $icon-size );
    }
  }

  // error
  &[type="2"] {
    .icon {
      color: #ca5959;
      @include icon-half( $icon-half-ban-circle, $icon-size );
    }
  }

  // info
  &[type="3"] {
    .icon {
      color: #48b5d9;
      @include icon-half( $icon-half-info-sign, $icon-size );
    }
  }

  // question
  &[type="4"] {
    .icon {
      color: #96d582;
      @include icon-half( $icon-half-question-sign, $icon-size );
    }
  }

  .icon {
    display: inline-block;
    padding-right: 3px;
    vertical-align: top;
  }

  .btn-close {
    position: absolute;
    right: 5px;
    top: 5px;
    color: $color-accent;
    opacity: 0;
    transition: color $duration-transition-btn ease, opacity $duration-transition-btn ease;
    cursor: pointer;

    @include icon-half( $icon-half-remove-circle, 18px );

    &:hover {
      color: #cf6753;
    }
  }

  .header {
    display: inline-block;
    padding-right: 25px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    line-height: $icon-size;
    vertical-align: middle;
  }

  .message {
    display: block;
    padding-top: 10px;
    font-size: 12px;
    color: #cccccc;
  }

  #buttons {
    text-align: right;
    line-height: 30px;

    &:not(:empty) {
      margin-top: 10px;
    }
  }
}

::content {
  .message {
    .highlight {
      color: #fcfcfc;
      text-shadow: 0 1px 0 rgba(black, 0.75);
    }

    strong {
      font-weight: bold;
    }
  }
}