@import '../Config';

:host {
  padding: 2px;
  background: #333337;
  border: 1px solid #3f3f46;
  color: #dcdcdc;
  outline: none;

  // hide buttons
  /*&::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }*/

  &:hover, &:focus {
    border: 1px solid $color-accent;
  }
}