@import '../Config';
@import '../Utils';
@import '../Icons';

$toolbar-height: 25px;

:host {
  .columns {
    display: flex;
    flex-direction: row;
    height: 100%;

    > div {
      position: relative;
      height: 100%;
    }

    .left {
      flex: 0 0 auto;
    }

    .right {
      flex: 1 1 100%;
      padding-top: $toolbar-height;
    }
  }

  #folderTree {
    width: 215px;
    height: 100%;
    max-height: 100%;
    overflow: auto;
    border-right: 1px solid #3f3f46;
  }

  .contents-toolbar {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: $toolbar-height;
    line-height: $toolbar-height;
    vertical-align: middle;
  }

  #breadCrumbs {
    padding-left: 10px;
    background: #3f3f46;

    div {
      display: inline-block;
      padding: 0 5px;
      font-size: 13px;
      color: #ebebeb;
      cursor: pointer;
      transition: background $duration-transition-btn ease, color $duration-transition-btn ease;

      @include icon-half( $icon-half-chevron-right, 12px, 'after' );

      &:after {
        display: inline-block;
        padding: 0 5px;
        color: #6f6f6f;
      }

      &:hover {
        color: white;
        background: $color-accent;
      }

      &:not(:first-of-type) {
        margin-left: -8px;
      }

      &:last-of-type {
        font-weight: bold;
        color: white;
        pointer-events: none;

        &:after {
          display: none;
        }
      }
    }
  }

  #folderContent {
    overflow: auto;
    height: 100%;
    padding: 15px;
    white-space: normal;

    .resource {
      display: inline-block;
      max-width: 105px;
      height: 90px;
      margin-bottom: 10px;
      vertical-align: top;
      cursor: pointer;
      transition: background $duration-transition-btn ease;

      &:hover {
        background: #5a5a5a;

        .thumbnail {
          opacity: 0.5;
        }
      }

      .thumbnail {
        width: 64px;
        height: 64px;
        margin: 0 auto;
        padding: 5px;
        transition: opacity $duration-transition-btn ease;

        &[has-preview] {
          img {
            display: block;
            max-width: 100%;
            max-height: 100%;
            margin: 0 auto;
            border: 1px solid #4f4f4f;
            box-shadow: 2px 2px 2px rgba(black, 0.75);
          }
        }

        &:not([has-preview]) {
          position: relative;
          color: desaturate($color-accent, 25%);
          text-shadow: 0 1px 2px rgba(black, 0.75);
          
          @include icon-regular( $icon-regular-file, 54px );

          &:before {
            margin-left: -2px;
          }

          &:after {
            position: absolute;
            overflow: hidden;
            left: 12px;
            bottom: 8px;
            right: 0;
            display: block;
            content: attr(ext);
            text-transform: uppercase;
            font-weight: bold;
            font-size: 12px;
            text-shadow: 0 1px 2px rgba(black, 0.95);
            color: white;
          }

          img {
            display: none;
          }
        }

        &.folder {
          color: desaturate($color-accent, 50%);
          text-shadow: 0 1px 2px rgba(black, 0.75);

          @include icon-regular( $icon-regular-folder-closed, 54px );
        }

        &[ext=".uworld"] {
          color: $color-accent;
          text-shadow: 0 1px 2px rgba(black, 0.75);

          @include icon-regular( $icon-regular-globe, 54px );

          &:after {
            display: none;
          }
        }
      }

      .display-name {
        overflow: hidden;
        margin-top: 8px;
        padding: 0 5px 2px 5px;
        color: #e7e7e7;
        font-size: 12px;
        text-shadow: 0 0 4px black;
        text-overflow: ellipsis;
        text-align: center;
      }
    }
  }
}

::content {
  #folderTree {
    x-tree-view-item {
      .text-content {
        display: inline-block;

        @include icon-half( $icon-half-folder-close, 15px );

        &:before {
          display: inline-block !important;
          padding: 0 6px 0 4px;
          color: desaturate($color-accent, 50%);
        }
      }

      &.opened {
        > .text {
          .text-content {
            @include icon-half( $icon-half-folder-open, 15px );
          }
        }
      }
    }
  }
}