@import '../Config';
@import '../Utils';
@import '../Icons';

:host {
  display: block;
  position: absolute;
  padding: 5px;
  background: #2d2d30;
  outline: none;
  border: 1px solid #3f3f46;
  box-shadow: 0 2px 3px 0 rgba(black, 0.75);
  opacity: 0;
  transition: opacity $duration-transition-btn ease;
  // arbitrarily high
  // TODO: put in container meant for these type of controls
  z-index: 9999;

  &.shown {
    opacity: 1;
  }

  &.closing {
    opacity: 0;
  }

  #filter {
    width: 100%;
    padding-left: 25px;
  }

  #filter-icon {
    position: absolute;
    left: 10px;
    top: 9px;
    color: #6b6b72;
    @include icon-half( $icon-half-search, 15px );
  }

  #items {
    overflow-y: scroll;
    min-width: 225px;
    max-height: 300px;
    border: 1px solid darken(#2d2d30, 1%);

    li {
      padding: 5px;
      color: #e8e8e8;
      cursor: pointer;
      line-height: 32px;
      vertical-align: middle;
      transition: background $duration-transition-btn ease;
      clear: both;

      .display-name {
        display: inline-block;
      }

      .preview {
        display: block;
        float: right;
        width: 32px;
        height: 32px;

        img {
          display: block;
          max-width: 100%;
          max-height: 100%;
        }
      }

      &:nth-child(odd) {
        background: darken(#2d2d30, 1%);
      }

      &:hover, &.selected {
        background: desaturate($color-accent, 15%);
        transition: background $duration-transition-btn ease;
      }
    }
  }
}

::content {
  .tt-resource-display-name {
    text-align: center;
    color: $color-accent;
    pointer-events: none;
  }

  .tt-resource-preview {
    display: block;
    margin: 5px auto 0 auto;
    border: 1px solid #232323;
    pointer-events: none;
  }
}
