@import '../Config';

:host {
  display: block;
  font-size: 14px;
  color: white;

  &:not(.root-view) {
    ::content {
      > x-tree-view-item {
        padding-left: 10px;
      }
    }
  }

  ::content {
    x-tree-view-item {
      #text {
        padding: 5px 5px 5px 10px;
        cursor: pointer;
        transition: all $duration-transition-btn ease;

        &:hover {
          background: darken($color-accent, 35%);
        }

        &::selection {
          background: white;
          color: black;
        }
      }

      &:nth-child(odd) {
        background: darken(#262626, 1%);
      }

      &.selected {
        background: darken($color-accent, 25%) !important;
      }
    }
  }
}