.wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  .title {
    font-size: 60px;
    font-weight: bold;
    color: #F7941E;
    text-shadow: 0 0 50px rgba(black, 0.75), 0 0 40px rgba(black, 0.75), 0 0 30px rgba(black, 0.75), 0 0 20px rgba(black, 0.75);
    animation-duration: 600ms;
  }
}