///////////////////////////////////////////////////////////////////////////////
// General Colors
///////////////////////////////////////////////////////////////////////////////

//$color-accent: #bdbd73;
$color-accent: #d2ad35;

$color-main-bg: #191919;

///////////////////////////////////////////////////////////////////////////////
// General Transitions
///////////////////////////////////////////////////////////////////////////////

$duration-transition-btn: 175ms;

///////////////////////////////////////////////////////////////////////////////
// Header
///////////////////////////////////////////////////////////////////////////////

$header-bg-color: #2d2d30;
$header-height: 40px;

$header-menu-item-color: #f5f5f5;
$header-menu-item-font-size: 14px;
$header-menu-sub-menu-min-width: 125px;

///////////////////////////////////////////////////////////////////////////////
// Status Bar
///////////////////////////////////////////////////////////////////////////////

$status-bar-bg-color: #2d2d30;
$status-bar-height: 20px;

///////////////////////////////////////////////////////////////////////////////
// Context Menus
///////////////////////////////////////////////////////////////////////////////

$context-menu-icon-size: 14px;
$context-menu-item-color: #f5f5f5;
$context-menu-item-font-size: 14px;
$context-menu-top-offset: 24px;
$context-menu-sub-menu-min-width: 125px;