@import 'Config';
@import 'Utils';

body {
  padding-top: $header-height;
}

#header-toolbar {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: $header-height;
  background: $header-bg-color;
  border-bottom: 1px solid #3f3f46;
  z-index: 9999;
}