@font-face {
  font-family: 'Icons Half';
  src: url('../Fonts/icons-half.woff2');
}

@font-face {
  font-family: 'Icons Regular';
  src: url('../Fonts/icons-regular.woff2');
}

.icon-half {
  font-family: 'Icons Half';
  font-size: 12px/1em;
}

.icon-regular {
  font-family: 'Icons Regular';
  font-size: 24px/1em;
}

$icon-half-glass: "\E001";
$icon-half-music: "\E002";
$icon-half-search: "\E003";
$icon-half-envelope: "\2709";
$icon-half-heart: "\E005";
$icon-half-star: "\E006";
$icon-half-star-empty: "\E007";
$icon-half-user: "\E008";
$icon-half-film: "\E009";
$icon-half-th-large: "\E010";
$icon-half-th: "\E011";
$icon-half-th-list: "\E012";
$icon-half-ok: "\E013";
$icon-half-remove: "\E014";
$icon-half-zoom-in: "\E015";
$icon-half-zoom-out: "\E016";
$icon-half-off: "\E017";
$icon-half-signal: "\E018";
$icon-half-cog: "\E019";
$icon-half-trash: "\E020";
$icon-half-home: "\E021";
$icon-half-file: "\E022";
$icon-half-time: "\E023";
$icon-half-road: "\E024";
$icon-half-download-alt: "\E025";
$icon-half-download: "\E026";
$icon-half-upload: "\E027";
$icon-half-inbox: "\E028";
$icon-half-play-circle: "\E029";
$icon-half-repeat: "\E030";
$icon-half-refresh: "\E031";
$icon-half-list-alt: "\E032";
$icon-half-glyph-lock: "\E033";
$icon-half-flag: "\E034";
$icon-half-headphones: "\E035";
$icon-half-volume-off: "\E036";
$icon-half-volume-down: "\E037";
$icon-half-volume-up: "\E038";
$icon-half-qrcode: "\E039";
$icon-half-barcode: "\E040";
$icon-half-tag: "\E041";
$icon-half-tags: "\E042";
$icon-half-book: "\E043";
$icon-half-glyph-bookmark: "\E044";
$icon-half-print: "\E045";
$icon-half-glyph-camera: "\E046";
$icon-half-font: "\E047";
$icon-half-bold: "\E048";
$icon-half-italic: "\E049";
$icon-half-text-height: "\E050";
$icon-half-text-width: "\E051";
$icon-half-align-left: "\E052";
$icon-half-align-center: "\E053";
$icon-half-align-right: "\E054";
$icon-half-align-justify: "\E055";
$icon-half-list: "\E056";
$icon-half-indent-left: "\E057";
$icon-half-indent-right: "\E058";
$icon-half-facetime-video: "\E059";
$icon-half-picture: "\E060";
$icon-half-pencil: "\270F";
$icon-half-map-marker: "\E062";
$icon-half-adjust: "\E063";
$icon-half-tint: "\E064";
$icon-half-edit: "\E065";
$icon-half-share: "\E066";
$icon-half-check: "\E067";
$icon-half-move: "\E068";
$icon-half-step-backward: "\E069";
$icon-half-fast-backward: "\E070";
$icon-half-backward: "\E071";
$icon-half-play: "\E072";
$icon-half-pause: "\E073";
$icon-half-stop: "\E074";
$icon-half-forward: "\E075";
$icon-half-fast-forward: "\E076";
$icon-half-step-forward: "\E077";
$icon-half-eject: "\E078";
$icon-half-chevron-left: "\E079";
$icon-half-chevron-right: "\E080";
$icon-half-plus-sign: "\E081";
$icon-half-minus-sign: "\E082";
$icon-half-remove-sign: "\E083";
$icon-half-ok-sign: "\E084";
$icon-half-question-sign: "\E085";
$icon-half-info-sign: "\E086";
$icon-half-screenshot: "\E087";
$icon-half-remove-circle: "\E088";
$icon-half-ok-circle: "\E089";
$icon-half-ban-circle: "\E090";
$icon-half-arrow-left: "\E091";
$icon-half-arrow-right: "\E092";
$icon-half-arrow-up: "\E093";
$icon-half-arrow-down: "\E094";
$icon-half-share-alt: "\E095";
$icon-half-resize-full: "\E096";
$icon-half-resize-small: "\E097";
$icon-half-plus: "\002B";
$icon-half-minus: "\2212";
$icon-half-asterisk: "\002A";
$icon-half-exclamation-sign: "\E101";
$icon-half-gift: "\E102";
$icon-half-leaf: "\E103";
$icon-half-glyph-fire: "\E104";
$icon-half-eye-open: "\E105";
$icon-half-eye-close: "\E106";
$icon-half-warning-sign: "\E107";
$icon-half-plane: "\E108";
$icon-half-glyph-calendar: "\E109";
$icon-half-random: "\E110";
$icon-half-comments: "\E111";
$icon-half-magnet: "\E112";
$icon-half-chevron-up: "\E113";
$icon-half-chevron-down: "\E114";
$icon-half-retweet: "\E115";
$icon-half-shopping-cart: "\E116";
$icon-half-folder-close: "\E117";
$icon-half-folder-open: "\E118";
$icon-half-resize-vertical: "\E119";
$icon-half-resize-horizontal: "\E120";
$icon-half-hdd: "\E121";
$icon-half-bullhorn: "\E122";
$icon-half-glyph-bell: "\E123";
$icon-half-certificate: "\E124";
$icon-half-thumbs-up: "\E125";
$icon-half-thumbs-down: "\E126";
$icon-half-hand-right: "\E127";
$icon-half-hand-left: "\E128";
$icon-half-hand-top: "\E129";
$icon-half-hand-down: "\E130";
$icon-half-circle-arrow-right: "\E131";
$icon-half-circle-arrow-left: "\E132";
$icon-half-circle-arrow-top: "\E133";
$icon-half-circle-arrow-down: "\E134";
$icon-half-globe: "\E135";
$icon-half-glyph-wrench: "\E136";
$icon-half-tasks: "\E137";
$icon-half-filter: "\E138";
$icon-half-glyph-briefcase: "\E139";
$icon-half-fullscreen: "\E140";
$icon-half-dashboard: "\E141";
$icon-half-glyph-paperclip: "\E142";
$icon-half-heart-empty: "\E143";
$icon-half-link: "\E144";
$icon-half-phone: "\E145";
$icon-half-glyph-pushpin: "\E146";
$icon-half-euro: "\20AC";
$icon-half-usd: "\E148";
$icon-half-gbp: "\E149";
$icon-half-sort: "\E150";
$icon-half-sort-by-alphabet: "\E151";
$icon-half-sort-by-alphabet-alt: "\E152";
$icon-half-sort-by-order: "\E153";
$icon-half-sort-by-order-alt: "\E154";
$icon-half-sort-by-attributes: "\E155";
$icon-half-sort-by-attributes-alt: "\E156";
$icon-half-unchecked: "\E157";
$icon-half-expand: "\E158";
$icon-half-collapse: "\E159";
$icon-half-collapse-top: "\E160";
$icon-half-log-in: "\E161";
$icon-half-flash: "\E162";
$icon-half-log-out: "\E163";
$icon-half-new-window: "\E164";
$icon-half-record: "\E165";
$icon-half-save: "\E166";
$icon-half-open: "\E167";
$icon-half-saved: "\E168";
$icon-half-import: "\E169";
$icon-half-export: "\E170";
$icon-half-send: "\E171";
$icon-half-floppy-disk: "\E172";
$icon-half-floppy-saved: "\E173";
$icon-half-floppy-remove: "\E174";
$icon-half-floppy-save: "\E175";
$icon-half-floppy-open: "\E176";
$icon-half-credit-card: "\E177";
$icon-half-transfer: "\E178";
$icon-half-cutlery: "\E179";
$icon-half-header: "\E180";
$icon-half-compressed: "\E181";
$icon-half-earphone: "\E182";
$icon-half-phone-alt: "\E183";
$icon-half-tower: "\E184";
$icon-half-stats: "\E185";
$icon-half-sd-video: "\E186";
$icon-half-hd-video: "\E187";
$icon-half-subtitles: "\E188";
$icon-half-sound-stereo: "\E189";
$icon-half-sound-dolby: "\E190";
$icon-half-sound-5-1: "\E191";
$icon-half-sound-6-1: "\E192";
$icon-half-sound-7-1: "\E193";
$icon-half-copyright-mark: "\E194";
$icon-half-registration-mark: "\E195";
$icon-half-cloud: "\2601";
$icon-half-cloud-download: "\E197";
$icon-half-cloud-upload: "\E198";
$icon-half-tree-conifer: "\E199";
$icon-half-tree-deciduous: "\E200";
$icon-half-cd: "\E201";
$icon-half-save-file: "\E202";
$icon-half-open-file: "\E203";
$icon-half-level-up: "\E204";
$icon-half-copy: "\E205";
$icon-half-paste: "\E206";
$icon-half-door: "\1F6AA";
$icon-half-key: "\1F511";
$icon-half-alert: "\E209";
$icon-half-equalizer: "\E210";
$icon-half-king: "\E211";
$icon-half-queen: "\E212";
$icon-half-pawn: "\E213";
$icon-half-bishop: "\E214";
$icon-half-knight: "\E215";
$icon-half-baby-formula: "\E216";
$icon-half-tent: "\26FA";
$icon-half-blackboard: "\E218";
$icon-half-bed: "\E219";
$icon-half-apple: "\F8FF";
$icon-half-erase: "\E221";
$icon-half-hourglass: "\231B";
$icon-half-lamp: "\E223";
$icon-half-duplicate: "\E224";
$icon-half-piggy-bank: "\E225";
$icon-half-scissors: "\E226";
$icon-half-bitcoin: "\E227";
$icon-half-yen: "\00A5";
$icon-half-ruble: "\20BD";
$icon-half-scale: "\E230";
$icon-half-ice-lolly: "\E231";
$icon-half-ice-lolly-tasted: "\E232";
$icon-half-education: "\E233";
$icon-half-option-horizontal: "\E234";
$icon-half-option-vertical: "\E235";
$icon-half-menu-hamburger: "\E236";
$icon-half-modal-window: "\E237";
$icon-half-oil: "\E238";
$icon-half-grain: "\E239";
$icon-half-sunglasses: "\E240";
$icon-half-text-size: "\E241";
$icon-half-text-color: "\E242";
$icon-half-text-background: "\E243";
$icon-half-object-align-top: "\E244";
$icon-half-object-align-bottom: "\E245";
$icon-half-object-align-horizontal: "\E246";
$icon-half-object-align-left: "\E247";
$icon-half-object-align-vertical: "\E248";
$icon-half-object-align-right: "\E249";
$icon-half-triangle-right: "\E250";
$icon-half-triangle-left: "\E251";
$icon-half-triangle-bottom: "\E252";
$icon-half-triangle-top: "\E253";
$icon-half-terminal: "\E254";
$icon-half-superscript: "\E255";
$icon-half-subscript: "\E256";
$icon-half-menu-left: "\E257";
$icon-half-menu-right: "\E258";
$icon-half-menu-down: "\E259";
$icon-half-menu-up: "\E260";

$icon-regular-glass: "\E001";
$icon-regular-leaf: "\E002";
$icon-regular-dog: "\E003";
$icon-regular-user: "\E004";
$icon-regular-girl: "\E005";
$icon-regular-car: "\E006";
$icon-regular-user-add: "\E007";
$icon-regular-user-remove: "\E008";
$icon-regular-film: "\E009";
$icon-regular-magic: "\E010";
$icon-regular-envelope: "\2709";
$icon-regular-camera: "\E011";
$icon-regular-heart: "\E013";
$icon-regular-beach-umbrella: "\E014";
$icon-regular-train: "\E015";
$icon-regular-print: "\E016";
$icon-regular-bin: "\E017";
$icon-regular-music: "\E018";
$icon-regular-note: "\E019";
$icon-regular-heart-empty: "\E020";
$icon-regular-home: "\E021";
$icon-regular-snowflake: "\2744";
$icon-regular-fire: "\E023";
$icon-regular-magnet: "\E024";
$icon-regular-parents: "\E025";
$icon-regular-binoculars: "\E026";
$icon-regular-road: "\E027";
$icon-regular-search: "\E028";
$icon-regular-cars: "\E029";
$icon-regular-notes-2: "\E030";
$icon-regular-pencil: "\270F";
$icon-regular-bus: "\E032";
$icon-regular-wifi-alt: "\E033";
$icon-regular-luggage: "\E034";
$icon-regular-old-man: "\E035";
$icon-regular-woman: "\E036";
$icon-regular-file: "\E037";
$icon-regular-coins: "\E038";
$icon-regular-airplane: "\2708";
$icon-regular-notes: "\E040";
$icon-regular-stats: "\E041";
$icon-regular-charts: "\E042";
$icon-regular-pie-chart: "\E043";
$icon-regular-group: "\E044";
$icon-regular-keys: "\E045";
$icon-regular-calendar: "\E046";
$icon-regular-router: "\E047";
$icon-regular-camera-small: "\E048";
$icon-regular-star-empty: "\E049";
$icon-regular-star: "\E050";
$icon-regular-link: "\E051";
$icon-regular-eye-open: "\E052";
$icon-regular-eye-close: "\E053";
$icon-regular-alarm: "\E054";
$icon-regular-clock: "\E055";
$icon-regular-stopwatch: "\E056";
$icon-regular-projector: "\E057";
$icon-regular-history: "\E058";
$icon-regular-truck: "\E059";
$icon-regular-cargo: "\E060";
$icon-regular-compass: "\E061";
$icon-regular-keynote: "\E062";
$icon-regular-paperclip: "\E063";
$icon-regular-power: "\E064";
$icon-regular-lightbulb: "\E065";
$icon-regular-tag: "\E066";
$icon-regular-tags: "\E067";
$icon-regular-cleaning: "\E068";
$icon-regular-ruler: "\E069";
$icon-regular-gift: "\E070";
$icon-regular-umbrella: "\2602";
$icon-regular-book: "\E072";
$icon-regular-bookmark: "\E073";
$icon-regular-wifi: "\E074";
$icon-regular-cup: "\E075";
$icon-regular-stroller: "\E076";
$icon-regular-headphones: "\E077";
$icon-regular-headset: "\E078";
$icon-regular-warning-sign: "\E079";
$icon-regular-signal: "\E080";
$icon-regular-retweet: "\E081";
$icon-regular-refresh: "\E082";
$icon-regular-roundabout: "\E083";
$icon-regular-random: "\E084";
$icon-regular-heat: "\E085";
$icon-regular-repeat: "\E086";
$icon-regular-display: "\E087";
$icon-regular-log-book: "\E088";
$icon-regular-address-book: "\E089";
$icon-regular-building: "\E090";
$icon-regular-eyedropper: "\E091";
$icon-regular-adjust: "\E092";
$icon-regular-tint: "\E093";
$icon-regular-crop: "\E094";
$icon-regular-vector-path-square: "\E095";
$icon-regular-vector-path-circle: "\E096";
$icon-regular-vector-path-polygon: "\E097";
$icon-regular-vector-path-line: "\E098";
$icon-regular-vector-path-curve: "\E099";
$icon-regular-vector-path-all: "\E100";
$icon-regular-font: "\E101";
$icon-regular-italic: "\E102";
$icon-regular-bold: "\E103";
$icon-regular-text-underline: "\E104";
$icon-regular-text-strike: "\E105";
$icon-regular-text-height: "\E106";
$icon-regular-text-width: "\E107";
$icon-regular-text-resize: "\E108";
$icon-regular-left-indent: "\E109";
$icon-regular-right-indent: "\E110";
$icon-regular-align-left: "\E111";
$icon-regular-align-center: "\E112";
$icon-regular-align-right: "\E113";
$icon-regular-justify: "\E114";
$icon-regular-list: "\E115";
$icon-regular-text-smaller: "\E116";
$icon-regular-text-bigger: "\E117";
$icon-regular-embed: "\E118";
$icon-regular-embed-close: "\E119";
$icon-regular-table: "\E120";
$icon-regular-message-full: "\E121";
$icon-regular-message-empty: "\E122";
$icon-regular-message-in: "\E123";
$icon-regular-message-out: "\E124";
$icon-regular-message-plus: "\E125";
$icon-regular-message-minus: "\E126";
$icon-regular-message-ban: "\E127";
$icon-regular-message-flag: "\E128";
$icon-regular-message-lock: "\E129";
$icon-regular-message-new: "\E130";
$icon-regular-inbox: "\E131";
$icon-regular-inbox-plus: "\E132";
$icon-regular-inbox-minus: "\E133";
$icon-regular-inbox-lock: "\E134";
$icon-regular-inbox-in: "\E135";
$icon-regular-inbox-out: "\E136";
$icon-regular-cogwheel: "\E137";
$icon-regular-cogwheels: "\E138";
$icon-regular-picture: "\E139";
$icon-regular-adjust-alt: "\E140";
$icon-regular-database-lock: "\E141";
$icon-regular-database-plus: "\E142";
$icon-regular-database-minus: "\E143";
$icon-regular-database-ban: "\E144";
$icon-regular-folder-open: "\E145";
$icon-regular-folder-plus: "\E146";
$icon-regular-folder-minus: "\E147";
$icon-regular-folder-lock: "\E148";
$icon-regular-folder-flag: "\E149";
$icon-regular-folder-new: "\E150";
$icon-regular-edit: "\E151";
$icon-regular-new-window: "\E152";
$icon-regular-check: "\E153";
$icon-regular-unchecked: "\E154";
$icon-regular-more-windows: "\E155";
$icon-regular-show-big-thumbnails: "\E156";
$icon-regular-show-thumbnails: "\E157";
$icon-regular-show-thumbnails-with-lines: "\E158";
$icon-regular-show-lines: "\E159";
$icon-regular-playlist: "\E160";
$icon-regular-imac: "\E161";
$icon-regular-macbook: "\E162";
$icon-regular-ipad: "\E163";
$icon-regular-iphone: "\E164";
$icon-regular-iphone-transfer: "\E165";
$icon-regular-iphone-exchange: "\E166";
$icon-regular-ipod: "\E167";
$icon-regular-ipod-shuffle: "\E168";
$icon-regular-ear-plugs: "\E169";
$icon-regular-record: "\E170";
$icon-regular-step-backward: "\E171";
$icon-regular-fast-backward: "\E172";
$icon-regular-rewind: "\E173";
$icon-regular-play: "\E174";
$icon-regular-pause: "\E175";
$icon-regular-stop: "\E176";
$icon-regular-forward: "\E177";
$icon-regular-fast-forward: "\E178";
$icon-regular-step-forward: "\E179";
$icon-regular-eject: "\E180";
$icon-regular-facetime-video: "\E181";
$icon-regular-download-alt: "\E182";
$icon-regular-mute: "\E183";
$icon-regular-volume-down: "\E184";
$icon-regular-volume-up: "\E185";
$icon-regular-screenshot: "\E186";
$icon-regular-move: "\E187";
$icon-regular-more: "\E188";
$icon-regular-brightness-reduce: "\E189";
$icon-regular-brightness-increase: "\E190";
$icon-regular-circle-plus: "\E191";
$icon-regular-circle-minus: "\E192";
$icon-regular-circle-remove: "\E193";
$icon-regular-circle-ok: "\E194";
$icon-regular-circle-question-mark: "\E195";
$icon-regular-circle-info: "\E196";
$icon-regular-circle-exclamation-mark: "\E197";
$icon-regular-remove: "\E198";
$icon-regular-ok: "\E199";
$icon-regular-ban: "\E200";
$icon-regular-download: "\E201";
$icon-regular-upload: "\E202";
$icon-regular-shopping-cart: "\E203";
$icon-regular-lock: "\E204";
$icon-regular-unlock: "\E205";
$icon-regular-electricity: "\E206";
$icon-regular-ok-2: "\E207";
$icon-regular-remove-2: "\E208";
$icon-regular-cart-out: "\E209";
$icon-regular-cart-in: "\E210";
$icon-regular-left-arrow: "\E211";
$icon-regular-right-arrow: "\E212";
$icon-regular-down-arrow: "\E213";
$icon-regular-up-arrow: "\E214";
$icon-regular-resize-small: "\E215";
$icon-regular-resize-full: "\E216";
$icon-regular-circle-arrow-left: "\E217";
$icon-regular-circle-arrow-right: "\E218";
$icon-regular-circle-arrow-top: "\E219";
$icon-regular-circle-arrow-down: "\E220";
$icon-regular-play-button: "\E221";
$icon-regular-unshare: "\E222";
$icon-regular-share: "\E223";
$icon-regular-chevron-right: "\E224";
$icon-regular-chevron-left: "\E225";
$icon-regular-bluetooth: "\E226";
$icon-regular-euro: "\20AC";
$icon-regular-usd: "\E228";
$icon-regular-gbp: "\E229";
$icon-regular-retweet-2: "\E230";
$icon-regular-moon: "\E231";
$icon-regular-sun: "\2609";
$icon-regular-cloud: "\2601";
$icon-regular-direction: "\E234";
$icon-regular-brush: "\E235";
$icon-regular-pen: "\E236";
$icon-regular-zoom-in: "\E237";
$icon-regular-zoom-out: "\E238";
$icon-regular-pin: "\E239";
$icon-regular-albums: "\E240";
$icon-regular-rotation-lock: "\E241";
$icon-regular-flash: "\E242";
$icon-regular-google-maps: "\E243";
$icon-regular-anchor: "\2693";
$icon-regular-conversation: "\E245";
$icon-regular-chat: "\E246";
$icon-regular-male: "\E247";
$icon-regular-female: "\E248";
$icon-regular-asterisk: "\002A";
$icon-regular-divide: "\00F7";
$icon-regular-snorkel-diving: "\E251";
$icon-regular-scuba-diving: "\E252";
$icon-regular-oxygen-bottle: "\E253";
$icon-regular-fins: "\E254";
$icon-regular-fishes: "\E255";
$icon-regular-boat: "\E256";
$icon-regular-delete: "\E257";
$icon-regular-sheriffs-star: "\E258";
$icon-regular-qrcode: "\E259";
$icon-regular-barcode: "\E260";
$icon-regular-pool: "\E261";
$icon-regular-buoy: "\E262";
$icon-regular-spade: "\E263";
$icon-regular-bank: "\E264";
$icon-regular-vcard: "\E265";
$icon-regular-electrical-plug: "\E266";
$icon-regular-flag: "\E267";
$icon-regular-credit-card: "\E268";
$icon-regular-keyboard-wireless: "\E269";
$icon-regular-keyboard-wired: "\E270";
$icon-regular-shield: "\E271";
$icon-regular-ring: "\02DA";
$icon-regular-cake: "\E273";
$icon-regular-drink: "\E274";
$icon-regular-beer: "\E275";
$icon-regular-fast-food: "\E276";
$icon-regular-cutlery: "\E277";
$icon-regular-pizza: "\E278";
$icon-regular-birthday-cake: "\E279";
$icon-regular-tablet: "\E280";
$icon-regular-settings: "\E281";
$icon-regular-bullets: "\E282";
$icon-regular-cardio: "\E283";
$icon-regular-t-shirt: "\E284";
$icon-regular-pants: "\E285";
$icon-regular-sweater: "\E286";
$icon-regular-fabric: "\E287";
$icon-regular-leather: "\E288";
$icon-regular-scissors: "\E289";
$icon-regular-bomb: "\E290";
$icon-regular-skull: "\E291";
$icon-regular-celebration: "\E292";
$icon-regular-tea-kettle: "\E293";
$icon-regular-french-press: "\E294";
$icon-regular-coffee-cup: "\E295";
$icon-regular-pot: "\E296";
$icon-regular-grater: "\E297";
$icon-regular-kettle: "\E298";
$icon-regular-hospital: "\E299";
$icon-regular-hospital-h: "\E300";
$icon-regular-microphone: "\E301";
$icon-regular-webcam: "\E302";
$icon-regular-temple-christianity-church: "\E303";
$icon-regular-temple-islam: "\E304";
$icon-regular-temple-hindu: "\E305";
$icon-regular-temple-buddhist: "\E306";
$icon-regular-bicycle: "\E307";
$icon-regular-life-preserver: "\E308";
$icon-regular-share-alt: "\E309";
$icon-regular-comments: "\E310";
$icon-regular-flower: "\2698";
$icon-regular-baseball: "\26BE";
$icon-regular-rugby: "\E313";
$icon-regular-ax: "\E314";
$icon-regular-table-tennis: "\E315";
$icon-regular-bowling: "\E316";
$icon-regular-tree-conifer: "\E317";
$icon-regular-tree-deciduous: "\E318";
$icon-regular-more-items: "\E319";
$icon-regular-sort: "\E320";
$icon-regular-filter: "\E321";
$icon-regular-gamepad: "\E322";
$icon-regular-playing-dices: "\E323";
$icon-regular-calculator: "\E324";
$icon-regular-tie: "\E325";
$icon-regular-wallet: "\E326";
$icon-regular-piano: "\E327";
$icon-regular-sampler: "\E328";
$icon-regular-podium: "\E329";
$icon-regular-soccer-ball: "\E330";
$icon-regular-blog: "\E331";
$icon-regular-dashboard: "\E332";
$icon-regular-certificate: "\E333";
$icon-regular-bell: "\E334";
$icon-regular-candle: "\E335";
$icon-regular-pushpin: "\E336";
$icon-regular-iphone-shake: "\E337";
$icon-regular-pin-flag: "\E338";
$icon-regular-turtle: "\E339";
$icon-regular-rabbit: "\E340";
$icon-regular-globe: "\E341";
$icon-regular-briefcase: "\E342";
$icon-regular-hdd: "\E343";
$icon-regular-thumbs-up: "\E344";
$icon-regular-thumbs-down: "\E345";
$icon-regular-hand-right: "\E346";
$icon-regular-hand-left: "\E347";
$icon-regular-hand-up: "\E348";
$icon-regular-hand-down: "\E349";
$icon-regular-fullscreen: "\E350";
$icon-regular-shopping-bag: "\E351";
$icon-regular-book-open: "\E352";
$icon-regular-nameplate: "\E353";
$icon-regular-nameplate-alt: "\E354";
$icon-regular-vases: "\E355";
$icon-regular-bullhorn: "\E356";
$icon-regular-dumbbell: "\E357";
$icon-regular-suitcase: "\E358";
$icon-regular-file-import: "\E359";
$icon-regular-file-export: "\E360";
$icon-regular-bug: "\E361";
$icon-regular-crown: "\E362";
$icon-regular-smoking: "\E363";
$icon-regular-cloud-download: "\E364";
$icon-regular-cloud-upload: "\E365";
$icon-regular-restart: "\E366";
$icon-regular-security-camera: "\E367";
$icon-regular-expand: "\E368";
$icon-regular-collapse: "\E369";
$icon-regular-collapse-top: "\E370";
$icon-regular-globe-af: "\E371";
$icon-regular-global: "\E372";
$icon-regular-spray: "\E373";
$icon-regular-nails: "\E374";
$icon-regular-claw-hammer: "\E375";
$icon-regular-classic-hammer: "\E376";
$icon-regular-hand-saw: "\E377";
$icon-regular-riflescope: "\E378";
$icon-regular-electrical-socket-eu: "\E379";
$icon-regular-electrical-socket-us: "\E380";
$icon-regular-message-forward: "\E381";
$icon-regular-coat-hanger: "\E382";
$icon-regular-dress: "\E383";
$icon-regular-bathrobe: "\E384";
$icon-regular-shirt: "\E385";
$icon-regular-underwear: "\E386";
$icon-regular-log-in: "\E387";
$icon-regular-log-out: "\E388";
$icon-regular-exit: "\E389";
$icon-regular-new-window-alt: "\E390";
$icon-regular-video-sd: "\E391";
$icon-regular-video-hd: "\E392";
$icon-regular-subtitles: "\E393";
$icon-regular-sound-stereo: "\E394";
$icon-regular-sound-dolby: "\E395";
$icon-regular-sound-5-1: "\E396";
$icon-regular-sound-6-1: "\E397";
$icon-regular-sound-7-1: "\E398";
$icon-regular-copyright-mark: "\E399";
$icon-regular-registration-mark: "\E400";
$icon-regular-radar: "\E401";
$icon-regular-skateboard: "\E402";
$icon-regular-golf-course: "\E403";
$icon-regular-sorting: "\E404";
$icon-regular-sort-by-alphabet: "\E405";
$icon-regular-sort-by-alphabet-alt: "\E406";
$icon-regular-sort-by-order: "\E407";
$icon-regular-sort-by-order-alt: "\E408";
$icon-regular-sort-by-attributes: "\E409";
$icon-regular-sort-by-attributes-alt: "\E410";
$icon-regular-compressed: "\E411";
$icon-regular-package: "\E412";
$icon-regular-cloud-plus: "\E413";
$icon-regular-cloud-minus: "\E414";
$icon-regular-disk-save: "\E415";
$icon-regular-disk-open: "\E416";
$icon-regular-disk-saved: "\E417";
$icon-regular-disk-remove: "\E418";
$icon-regular-disk-import: "\E419";
$icon-regular-disk-export: "\E420";
$icon-regular-tower: "\E421";
$icon-regular-send: "\E422";
$icon-regular-git-branch: "\E423";
$icon-regular-git-create: "\E424";
$icon-regular-git-private: "\E425";
$icon-regular-git-delete: "\E426";
$icon-regular-git-merge: "\E427";
$icon-regular-git-pull-request: "\E428";
$icon-regular-git-compare: "\E429";
$icon-regular-git-commit: "\E430";
$icon-regular-construction-cone: "\E431";
$icon-regular-shoe-steps: "\E432";
$icon-regular-plus: "\002B";
$icon-regular-minus: "\2212";
$icon-regular-redo: "\E435";
$icon-regular-undo: "\E436";
$icon-regular-golf: "\E437";
$icon-regular-hockey: "\E438";
$icon-regular-pipe: "\E439";
$icon-regular-wrench: "\E440";
$icon-regular-folder-closed: "\E441";
$icon-regular-phone-alt: "\E442";
$icon-regular-earphone: "\E443";
$icon-regular-floppy-disk: "\E444";
$icon-regular-floppy-saved: "\E445";
$icon-regular-floppy-remove: "\E446";
$icon-regular-floppy-save: "\E447";
$icon-regular-floppy-open: "\E448";
$icon-regular-translate: "\E449";
$icon-regular-fax: "\E450";
$icon-regular-factory: "\E451";
$icon-regular-shop-window: "\E452";
$icon-regular-shop: "\E453";
$icon-regular-kiosk: "\E454";
$icon-regular-kiosk-wheels: "\E455";
$icon-regular-kiosk-light: "\E456";
$icon-regular-kiosk-food: "\E457";
$icon-regular-transfer: "\E458";
$icon-regular-money: "\E459";
$icon-regular-header: "\E460";
$icon-regular-blacksmith: "\E461";
$icon-regular-saw-blade: "\E462";
$icon-regular-basketball: "\E463";
$icon-regular-server: "\E464";
$icon-regular-server-plus: "\E465";
$icon-regular-server-minus: "\E466";
$icon-regular-server-ban: "\E467";
$icon-regular-server-flag: "\E468";
$icon-regular-server-lock: "\E469";
$icon-regular-server-new: "\E470";
$icon-regular-charging-station: "\F471";
$icon-regular-gas-station: "\E472";
$icon-regular-target: "\E473";
$icon-regular-bed-alt: "\E474";
$icon-regular-mosquito-net: "\E475";
$icon-regular-dining-set: "\E476";
$icon-regular-plate-of-food: "\E477";
$icon-regular-hygiene-kit: "\E478";
$icon-regular-blackboard: "\E479";
$icon-regular-marriage: "\E480";
$icon-regular-bucket: "\E481";
$icon-regular-none-color-swatch: "\E482";
$icon-regular-bring-forward: "\E483";
$icon-regular-bring-to-front: "\E484";
$icon-regular-send-backward: "\E485";
$icon-regular-send-to-back: "\E486";
$icon-regular-fit-frame-to-image: "\E487";
$icon-regular-fit-image-to-frame: "\E488";
$icon-regular-multiple-displays: "\E489";
$icon-regular-handshake: "\E490";
$icon-regular-child: "\E491";
$icon-regular-baby-formula: "\E492";
$icon-regular-medicine: "\E493";
$icon-regular-atv-vehicle: "\E494";
$icon-regular-motorcycle: "\E495";
$icon-regular-bed: "\E496";
$icon-regular-tent: "\26FA";
$icon-regular-glasses: "\E498";
$icon-regular-sunglasses: "\E499";
$icon-regular-family: "\E500";
$icon-regular-education: "\E501";
$icon-regular-shoes: "\E502";
$icon-regular-map: "\E503";
$icon-regular-cd: "\E504";
$icon-regular-alert: "\E505";
$icon-regular-piggy-bank: "\E506";
$icon-regular-star-half: "\E507";
$icon-regular-cluster: "\E508";
$icon-regular-flowchart: "\E509";
$icon-regular-commodities: "\E510";
$icon-regular-duplicate: "\E511";
$icon-regular-copy: "\E512";
$icon-regular-paste: "\E513";
$icon-regular-bath-bathtub: "\E514";
$icon-regular-bath-shower: "\E515";
$icon-regular-shower: "\1F6BF";
$icon-regular-menu-hamburger: "\E517";
$icon-regular-option-vertical: "\E518";
$icon-regular-option-horizontal: "\E519";
$icon-regular-currency-conversion: "\E520";
$icon-regular-user-ban: "\E521";
$icon-regular-user-lock: "\E522";
$icon-regular-user-flag: "\E523";
$icon-regular-user-asterisk: "\E524";
$icon-regular-user-alert: "\E525";
$icon-regular-user-key: "\E526";
$icon-regular-user-conversation: "\E527";
$icon-regular-database: "\E528";
$icon-regular-database-search: "\E529";
$icon-regular-list-alt: "\E530";
$icon-regular-hazard-sign: "\E531";
$icon-regular-hazard: "\E532";
$icon-regular-stop-sign: "\E533";
$icon-regular-lab: "\E534";
$icon-regular-lab-alt: "\E535";
$icon-regular-ice-cream: "\E536";
$icon-regular-ice-lolly: "\E537";
$icon-regular-ice-lolly-tasted: "\E538";
$icon-regular-invoice: "\E539";
$icon-regular-cart-tick: "\E540";
$icon-regular-hourglass: "\231B";
$icon-regular-cat: "\1F408";
$icon-regular-lamp: "\E543";
$icon-regular-scale-classic: "\E544";
$icon-regular-eye-plus: "\E545";
$icon-regular-eye-minus: "\E546";
$icon-regular-quote: "\E547";
$icon-regular-bitcoin: "\E548";
$icon-regular-yen: "\00A5";
$icon-regular-ruble: "\20BD";
$icon-regular-erase: "\E551";
$icon-regular-podcast: "\E552";
$icon-regular-firework: "\E553";
$icon-regular-scale: "\E554";
$icon-regular-king: "\E555";
$icon-regular-queen: "\E556";
$icon-regular-pawn: "\E557";
$icon-regular-bishop: "\E558";
$icon-regular-knight: "\E559";
$icon-regular-mic-mute: "\E560";
$icon-regular-voicemail: "\E561";
$icon-regular-paragraph: "\00B6";
$icon-regular-person-walking: "\E563";
$icon-regular-person-wheelchair: "\E564";
$icon-regular-underground: "\E565";
$icon-regular-car-hov: "\E566";
$icon-regular-car-rental: "\E567";
$icon-regular-transport: "\E568";
$icon-regular-taxi: "\1F695";
$icon-regular-ice-cream-no: "\E570";
$icon-regular-uk-rat-u: "\E571";
$icon-regular-uk-rat-pg: "\E572";
$icon-regular-uk-rat-12a: "\E573";
$icon-regular-uk-rat-12: "\E574";
$icon-regular-uk-rat-15: "\E575";
$icon-regular-uk-rat-18: "\E576";
$icon-regular-uk-rat-r18: "\E577";
$icon-regular-tv: "\E578";
$icon-regular-sms: "\E579";
$icon-regular-mms: "\E580";
$icon-regular-us-rat-g: "\E581";
$icon-regular-us-rat-pg: "\E582";
$icon-regular-us-rat-pg-13: "\E583";
$icon-regular-us-rat-restricted: "\E584";
$icon-regular-us-rat-no-one-17: "\E585";
$icon-regular-equalizer: "\E586";
$icon-regular-speakers: "\E587";
$icon-regular-remote-control: "\E588";
$icon-regular-remote-control-tv: "\E589";
$icon-regular-shredder: "\E590";
$icon-regular-folder-heart: "\E591";
$icon-regular-person-running: "\E592";
$icon-regular-person: "\E593";
$icon-regular-voice: "\E594";
$icon-regular-stethoscope: "\E595";
$icon-regular-hotspot: "\E596";
$icon-regular-activity: "\E597";
$icon-regular-watch: "\231A";
$icon-regular-scissors-alt: "\E599";
$icon-regular-car-wheel: "\E600";
$icon-regular-chevron-up: "\E601";
$icon-regular-chevron-down: "\E602";
$icon-regular-superscript: "\E603";
$icon-regular-subscript: "\E604";
$icon-regular-text-size: "\E605";
$icon-regular-text-color: "\E606";
$icon-regular-text-background: "\E607";
$icon-regular-modal-window: "\E608";
$icon-regular-newspaper: "\1F4F0";
$icon-regular-tractor: "\1F69C";