@import 'Config';
@import 'Utils';
@import 'Icons';

///////////////////////////////////////////////////////////////////////////////
// General Menu
///////////////////////////////////////////////////////////////////////////////

x-main-menu, x-context-menu {
  display: block;

  &:focus {
    outline: none;
  }

  .sub-menu {
    position: absolute;
    display: none;
    left: 100%;
    top: -5px;
    padding: 4px 0;
    min-width: $context-menu-sub-menu-min-width;
    white-space: nowrap;
    background-color: #1b1b1c;
    border: 1px solid #333337;
    box-shadow: 0 2px 3px 0 rgba(black, 0.75);

    > x-menu-item {
      position: relative;
      display: block;
      min-width: $context-menu-sub-menu-min-width;
      line-height: normal;
      transition: background-color $duration-transition-btn ease;
    }

    &:not(.clear-left).left, &:not(.clear-left).left .sub-menu {
      left: auto;
      right: 100%;
    }

    &.top {
      top: auto;
      bottom: 100%;
      margin-bottom: -$context-menu-top-offset;
    }
  }

  x-menu-separator {
    display: block;
    width: calc(100% - 32px);
    height: 1px;
    margin: 5px 0 5px 32px;
    background: #333337;
  }

  x-menu-item {
    position: relative;
    display: block;
    padding: 3px 10px;
    min-width: $context-menu-sub-menu-min-width;
    color: #f5f5f5;
    font-size: $context-menu-item-font-size;
    text-transform: none;
    vertical-align: middle;
    cursor: pointer;
    transition: background-color $duration-transition-btn ease;

    &[disabled] {
      color: darken($context-menu-item-color, 25%) !important;
      cursor: default;

      > #icon:before {
        color: #4c4c4c !important;
      }
    }

    &[has-sub-menu] {
      padding-right: 25px;

      &:after {
        position: absolute;
        right: 5px;
        top: 50%;
        transform: translateY(-50%);
        @include triangle(right, #999999, 4px);
      }
    }

    &:not([disabled]).hover {
      background-color: #333334;

      &[has-sub-menu] {
        > .sub-menu {
          display: block;
        }

        &:after {
          @include triangle(right, $color-accent, 4px);
        }
      }

      > #icon {
        &:before {
          color: $color-accent;
        }
      }
    }

    > #icon {
      display: inline-block;
      width: $context-menu-icon-size;
      height: $context-menu-icon-size;
      margin-left: -2px;
      margin-right: 8px;
      margin-top: -2px;
      line-height: $context-menu-icon-size;
      vertical-align: middle;

      &:before {
        color: #999999;
        text-shadow: 0 0 2px rgba(black, 0.75);
        transition: color $duration-transition-btn ease;
      }

      &.edit {
        @include icon-half( $icon-half-edit, $context-menu-icon-size );
      }

      &.copy {
        @include icon-half( $icon-half-copy, $context-menu-icon-size );
      }

      &.duplicate {
        @include icon-half( $icon-half-duplicate, $context-menu-icon-size );
      }

      &.paste {
        @include icon-half( $icon-half-paste, $context-menu-icon-size );
      }

      &.remove {
        @include icon-half( $icon-half-remove, $context-menu-icon-size );
      }

      &.file-open {
        @include icon-half( $icon-half-floppy-open, $context-menu-icon-size );
      }

      &.file-save {
        @include icon-half( $icon-half-floppy-save, $context-menu-icon-size );
      }
    }
  }
}

///////////////////////////////////////////////////////////////////////////////
// Main Menu
///////////////////////////////////////////////////////////////////////////////

x-main-menu {
  position: relative;
  display: inline-block;
  margin-left: 5px;
  // 2px to account for border
  line-height: $header-height - 2px;

  > x-menu-item {
    display: inline-block;
    margin: 0 2px 0 0;
    padding: 0 5px !important;
    min-width: 0;
    color: $header-menu-item-color;
    text-transform: uppercase !important;
    vertical-align: middle;
    cursor: pointer;
    transition: background-color $duration-transition-btn ease;

    > .sub-menu {
      left: 0;
      top: 100%;
    }

    &:not([disabled]).hover {
      background-color: #1b1b1c;
    }

    &:after {
      display: none;
    }

    > #icon {
      display: none;
    }
  }
}

///////////////////////////////////////////////////////////////////////////////
// Context Menu
///////////////////////////////////////////////////////////////////////////////

#context-menu-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  pointer-events: none;
  z-index: 9999;
}

x-context-menu {
  position: absolute;
  padding: 4px 0;
  background-color: #1b1b1c;
  border: 1px solid #333337;
  box-shadow: 0 2px 3px 0 rgba(black, 0.75);
  pointer-events: all;
}