@import 'Config';

@-webkit-keyframes cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
  }
}

#wrapper {
  padding: 30px 39px 39px 39px;
  border: 2px solid $color-accent;
}

.loader {
  width: 134px;
  height: 130px;
  margin: 0 auto;

  .cube {
    width: 33.333%;
    height: 33.333%;
    background: url(Images/BearKingLogo.png) no-repeat;
    float: left;
    -webkit-animation: cubeGridScaleDelay 1.3s infinite ease-in-out;
  }

  .cube1 {
    background-position: 0 0;
    -webkit-animation-delay: 0.2s;
  }

  .cube2 {
    background-position: 49.3% 0;
    -webkit-animation-delay: 0.3s;
  }

  .cube3 {
    background-position: 98.6% 0;
    -webkit-animation-delay: 0.4s;
  }

  .cube4 {
    background-position: 0 49.3%;
    -webkit-animation-delay: 0.1s;
  }

  .cube5 {
    background-position: 49.3% 49.3%;
    -webkit-animation-delay: 0.2s;
  }

  .cube6 {
    background-position: 98.6% 49.3%;
    -webkit-animation-delay: 0.3s;
  }

  .cube7 {
    background-position: 0 98.6%;
    -webkit-animation-delay: 0s;
  }

  .cube8 {
    background-position: 49.3% 98.6%;
    -webkit-animation-delay: 0.1s;
  }

  .cube9 {
    background-position: 98.6% 98.6%;
    -webkit-animation-delay: 0.2s;
  }
}

#project-name {
  height: 19px;
  color: $color-accent;
  font-size: 18px;
  text-shadow: 0 1px 1px rgba(black, 0.75);
}

#progress {
  width: 100%;
  height: 20px;
  margin: 15px 0 15px 0;
  background: #2b2b2b;

  span {
    display: block;
    width: 0;
    height: 100%;
    background: $color-accent;
    transition: width 150ms ease;
  }
}

#progress-text {
  overflow: hidden;
  height: 17px;
  text-align: center;
  color: #737373;
  text-shadow: 0 1px 1px rgba(black, 0.75);
  text-overflow: ellipsis;
}