@import 'Config';

#tooltip-container {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 999999;
  pointer-events: none;

  .tooltip {
    position: absolute;
    color: white;
    padding: 10px;
    background: rgba(black, 0.85);
    border: 1px solid $color-accent;
    box-shadow: 0 1px 2px rgba(black, 0.75);
    pointer-events: none;
    opacity: 0;
    -webkit-transform: translateY(15%);
    -webkit-transition: opacity 125ms ease, -webkit-transform 125ms ease;

    &.opened {
      opacity: 1;
      -webkit-transform: translateY(0%);
      -webkit-transition: opacity 125ms ease, -webkit-transform 125ms ease;
    }
  }
}