{{#hasExplicitSetter}}(m::FieldSetter<{{& parentQualifiedName}}, {{& type}}, true>::ConstRefSignature)&{{& parentQualifiedName}}::{{& explicitSetter}}{{/hasExplicitSetter}}{{^hasExplicitSetter}}&{{& parentQualifiedName}}::{{& name}}{{/hasExplicitSetter}}